/* var */
:root{
    --header-height: 40px;
    --jumbotron-min-height: 400px;
    --ms_light_grey:#aea7a7;
    --ms_dark_blue: #161C3B;
    --ms_light_blue:#00439C;
    --ms_dark_grey: #363636; 
    --ms_red_brow: #CD3D0F;
    --ms_light_light_grey: #D9DADC;
}
/* UTILITY */
.ms_bg_light_grey{
    background-color:  var(--ms_light_grey);
}
.ms_bg_dark_blue{
    background-color:  var(--ms_dark_blue);
}
.ms_bg_light_blue{
    background-color:  var(--ms_light_blue);
}
.ms_bg_dark_grey{
    background-color: var(--ms_dark_grey);
}
.ms_bg_red_brown{
    background-color: var(--ms_red_brow);
}
.ms_bg_light_light_grey{
    background-color: var(--ms_light_light_grey);
}
.ms_btn{
    display: inline-block;
    padding: .3rem .5rem;
    border-radius: 50px;
}
.ms_btn:hover{
    opacity: .9;
    box-shadow:  3px 3px 4px var(--bs-dark);
}

/* /var */
/* COMMONS */
html{
    font-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a.ms_btn:hover{
    color: unset;
}
img{
    max-width: 100%;
}
.ms_container{
    width:100%;
    margin: 0 auto;
    max-width: 600px;
}
main{
    padding-top: 7rem;
}
/* /COMMONS */
/* header */
header{
    height:var(--header-height);
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.sony{
    width: 100px;
    line-height: var(--header-height);
}
/* nav */
.ms_chevron-down{
    width: 10px;
}
main nav a.nav-link{
    color: var(--bs-dark);
}
nav .ms_lens{
    width: 20px;
}
main nav.navbar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    z-index: 999;
}
/* Nested menu */

/* nav.navbar-nav{
    position: relative;
} */
 ul.navbar-nav {
    position: relative;
    /* per farsi che la tendina del sottomenu prenda tutto lo schermo
    in larghezza ho pensato di mettere il position relative al nav
    ma ho notato che l'hover avviene ma non mi da il tempo di andare
    sulla tendina..scompare dunque subito. */
}

 .navbar-nav .nested-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bs-white);
    line-height: normal;
    width:100vw;
    display: none;
    transition: display 2s;
}
.navbar-nav li:hover .nested-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-nav li:hover .ms_chevron-down{
    transform: rotate(-180deg);
}
.nested-menu li:hover{
    border: 1px solid var(--ms_light_grey);
    box-shadow: 5px 5px 4px var(--ms_light_grey);
}

/* jumbotron */
 .similar{
    width: 100%;
    min-height: var(--jumbotron-min-height);
    background-image:url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
}
.jumbotron .row{
    height: var(--jumbotron-min-height);
}
#jumbotron-games .games .card{
   transition: transform 1s;
}
#jumbotron-games .games .card:hover{
    transform: translateY(-10%);
}
.card{
    background-color:unset;
    border: unset;
}
.card>img{
    display: block;
    border-radius: 20px;
}
.image-half{
    width: 50%;
}
/* section console */
 .eccolo-lol{
    width: 100%;
 }
 .box{
    width: 100%;
 }
 /* section console */
 #console .box.element{
    opacity: .8;
 }
 #console .box.element:hover{
    opacity: 1;
 }
 .active{
    border-bottom: 2px solid var(--bs-primary) ;
 }
 #console a:hover{
    color: inherit
 }
 /* section game-store */
 #it-take-two .adventure.similar{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
 }
 /* section play-plus */
 .ps-size{
    width: 250px;
 }
 /* footer */
 .footer-top img.globe{
    width: 20px;
 }
 .footer-bottom img.sie{
    width: 100px;
 }
footer a:hover{
    color: var(--bs-dark);
 }