/* var */
:root{
    --header-height: 40px;
    --jumbotron-min-height: 400px;
}

/* /var */
html{
    font-size: 100%;
}

img{
    max-width: 100%;
}
/* header */
header{
    height:var(--header-height);
    width:100%;
}
.sony{
    width: 100px;
    line-height: var(--header-height);
}
/* jumbotron */
.similar{
    width: 100%;
    min-height: var(--jumbotron-min-height);
    background-image:url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    color
}
.jumbotron .row{
    height: var(--jumbotron-min-height);
}
.card{
    background-color:unset;
    /* debug */
    border: 1px solid black;
}
.jumbotron .card .image-half{
    width: 50%;
}
/* section console */
 .eccolo-lol{
    width: 100%;
    /* debug */
    border: 1px solid black;
 }
 .box{
    border: 1px solid black;
 }
 /* section game-store */
 #it-take-two .similar{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
 }