/* var */
:root{
    --header-height: 40px;
    --jumbotron-min-height: 400px;
    --ms_light_grey:#aea7a7;
    --ms_dark_blue: #161C3B;
}
/* UTILITY */
.ms_bg_light_grey{
    background-color:  var(--ms_light_grey);
}
.ms_bg_dark_blue{
    background-color:  var(--ms_dark_blue);
}
/* /var */
/* COMMONS */
html{
    font-size: 100%;
}

img{
    max-width: 100%;
}
.ms_container{
    width: 50%;
    margin: 0 auto;
}
/* /COMMONS */
/* header */
header{
    height:var(--header-height);
    width:100%;
}
.sony{
    width: 100px;
    line-height: var(--header-height);
}
/* jumbotron */
 .similar{
    width: 100%;
    min-height: var(--jumbotron-min-height);
    background-image:url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    color
}
.jumbotron .row{
    height: var(--jumbotron-min-height);
}
.card{
    background-color:unset;
    /* debug */
    border: 1px solid black;
}
.image-half{
    width: 50%;
}
/* section console */
 .eccolo-lol{
    width: 100%;
    /* debug */
    border: 1px solid black;
 }
 .box{
    border: 1px solid black;
 }
 /* section game-store */
 #it-take-two .adventure.similar{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
 }
 /* section play-plus */
 .ps-size{
    width: 250px;
 }